
<div class="container text-center mt-3">
  <div class="row">
    <div class="col-md-12 mb-2">
      <button class="btn btn-success" (click)="clickSuccess()"> Sweet Alert Success</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-2">
      <button class="btn btn-warning" (click)="clickWarning()"> Sweet Alert Warning</button>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12 mb-2">
      <button class="btn btn-danger" (click)="clickDanger()"> Sweet Alert Danger</button>
    </div>
  </div>
</div>

